body{
  background-color: #808080;
}
.button {
  font family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  display: inline-flex;
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: 2px 2px 2px 2px;
  margin: 0px 0px 0px 20px;
}
.website-name {
  font-family: 'Berkshire Swash', cursive;
  color: white;
  font-size: 90px;
  margin: 0px 0px 0px 0px;
  text-align: left;
}
.tagline{
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  font-size: 50px;
  margin: 90px 0px 10px 0px;
  background-size: contain;
  text-align: center;
  background-color: rgba(0,0,0,.5);
}
/*.btn-group {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 25px;
  color: black;
  background-color: black;
  border-color: grey;
  margin: 20px 0px 10px 0px;
}*/
.title{
  background-image: url("cocktails.jpg");
  height: 500px;
  background-size: cover;
  Background-position: center;
  margin: 20px 0px 50px 0px;
}
.location{
  font-family: 'Berkshire Swash', cursive;
  font-size: 80px;
  text-align: center;
  background: black;
  margin: 0px 100px 0px 100px;
  color: white;
}
.cocktails{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 45px;
  text-align: left;
  color: #FF4500;
  background-image: url("jakub-dziubak-312759-unsplash.jpg");
  margin: 50px 50px 50px 50px;
  padding: 150px 150px 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.restaurants{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 45px;
  text-align: center;
  color: #FF4500;
  background-image: url("etienne-pauthenet-153636-unsplash.jpg");
  margin: 50px 50px 50px 50px;
  padding: 150px 150px 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-family:'Yanone Kaffeesatz', sans-serif;
  font-size:25px;
}
#map {
  height: 500px;
  width: cover;
  margin: 10px 200px 10px 200px;
}
table{
  margin: 0px auto;
}
