body{
  background-color: #808080;
}
.button {
  font family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  display: inline-flex;
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: 2px 2px 2px 2px;
  margin-top: 0px;
}
a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-family:'Yanone Kaffeesatz', sans-serif;
  font-size:25px;

}
.title{
  background-image: url("lex-guerra-258587-unsplash.jpg");
  height: 500px;
  background-size: cover;
  Background-position: center;
  margin: 20px 0px 20px 0px;
}
.page-name{
  font-family: 'Berkshire Swash', cursive;
  color: white;
  font-size: 90px;
  text-align: left;
  padding: 2px 2px 2px 2px;
}
.tagline{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  font-size: 50px;
  margin: 90px 0px 10px 0px;
  background-size: contain;
  text-align: center;
  background-color: rgba(0,0,0,.5);
}
.lists{
  color: black;
  text-align: left;
  font-family:'Yanone Kaffeesatz', sans-serif;
  font-size:40px;
  }
p{
color: black;
text-align: left;
font-family:'Yanone Kaffeesatz', sans-serif;
font-size:20px;
}
